* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 160px;
}

section {	
	border: 1px solid black;
	background: #eacda3;
	margin: 5px;
}

h1 {
	text-align:center;
}

p {
	clear: right;
	padding: 5px;
}

.section-title {
	font-size: 125%;
	margin: 0px;
	padding: 5px 20px 5px 20px;
	border: 1px solid black;
	float: right;
	position: relative;
	right: -1px;
	top: -1px;
	text-align: center;
}

.first-title-color-backgroud {
	background: #FFC3CE;
}

.second-title-color-backgroud {
	background: #D6E3B5;
}

.third-title-color-backgroud {
	background: #64b3f4;
}

.row {
	width: 100%;
}

@media (min-width: 992px){
	.col-lg-4 {
		float: left;
	}
	.col-lg-4 {
		width: 32.3%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12{
		float: left;
	}
	.col-md-6 {
		width: 48.64%;
	}
	.col-md-12 {
		width: 98.75%;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
	}
	.col-sm-12 {
		width: 98%;
		margin: 10px;
	}
}
